# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/

# Data (NLP)
data/
dataset/
*.csv
*.tsv
*.json

# Models & checkpoints
models/
*.h5
*.pt
*.pth
*.ckpt

# Logs
logs/
*.log

# Editor
.vscode/

# Large embeddings
embeddings/*.vec
